xdvipdfmx.js
xdvipdfmx.pre.js
xelatex.js
xetex.js
xetex.pre.js
xetex.post.worker.js
xetex.pre.worker.js
xetex.worker.js
*.min.js
*.umd.js
*.umd.min.js

node_modules/

base/
build-*/
expat-*/
fontconfig-*/
install-tl-*/
texlive-*/
