# XeTeX
*.aux
*.log
*.pdf
*.xdv

# Build
build-*/
*.log
*.profile
*.stamp
*.tar.bz2
*.tar.gz
*.zip

# Node
node_modules/

# Other build artifacts
base/
install-tl-*/
texlive-*/
xdvipdfmx*
xetex*
xelatex*
texlive.lst
workercontroller.umd.js
